@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{

/* ### Primary */

    --red: hsl(0, 100%, 74%); 
    --green: hsl(154, 59%, 51%);
    --green-shadow: 154 56% 45%;

/* ### Accent */

    --blue: hsl(248, 32%, 49%);

/* ### Neutral */

    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}  

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body{
    background-color: var(--red);
    background-image: url(images/bg-intro-desktop.png);
    display: grid;
    height: 100vh;
    place-content: center;
}

main{
    display: grid;
    width: clamp(55rem, 85vw, 70rem);;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.5rem;
}

h1{
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 2rem;
}

.left{
    display: grid;
    align-content: center;
}

.right span{
    display: block;
    background-color: var(--blue);
    padding: 1rem;
    margin-bottom: 1.25rem;
    border-radius: 0.75rem;
    text-align: center;
    box-shadow: 0 8px 0 rgba(0,0,0,0.15);
}

.right form span{
    display: none;
    background-color: transparent;
    box-shadow: 0 0px 0 rgba(0,0,0,0);
    padding: 0;
    font-size: 11px;
    text-align: right;
    margin:0 0 1rem;
}

.form-control{
    margin-bottom: 1rem;
}

.form-control.active span{
   display: block;
   margin-top: 0.25rem;
}

em{
    color: var(--red);
}

.right form{
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.75rem;
}

.right form input{
    border-radius: 0.25rem;
    border: 1px solid var(--grayish-blue);
    padding: 1rem;
    width: 100%;
    color: var(--dark-blue);
}

.right form input:focus{
    outline: 1px solid var(--dark-blue);
}

.right form input[type="submit"]{
    background-color: var(--green);
    padding: 1.1rem 0.5rem 0.7rem;
    margin: 0 0 0.5rem;
    border-radius: 0.5rem;
    border: 0px;
    text-transform: uppercase;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    box-shadow: 0 4px 1px hsl(var(--green-shadow));
    cursor: pointer;
}

.right form input::placeholder{
    color: red;
    font-weight: 700;
}

.right small{
    display: block;
    color: var(--grayish-blue);
    font-size: 11px;
    text-align: center;
}

.right small strong{
    color: var(--red);
    cursor: pointer;
}

p.form-complete{
    opacity: 0;
    color: var(--green);
    background-color: rgba(0,0,0,0.4);
    padding:0.75rem 1rem;
    text-align: center;
    font-size: 1.15rem;
    font-weight: 700;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
}

p.form-complete.active{
    opacity: 1;
}

@media (max-width:55rem){
    main{
        width: 85vw;
        grid-template-columns: 1fr;
    }  
    
    h1{
        font-size: 2rem;
        line-height: 2.5rem;
    }

    p, h1{
        text-align: center;
    }
}